1. Write a Pandas program to join the two given dataframes along rows and assign all data.
Test Data:
student_data1:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
student_data2:
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
2. Write a Pandas program to join the two given dataframes along columns and assign all data.
Test Data:
student_data1:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
student_data2:
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
3. Write a Pandas program to append rows to an existing DataFrame and display the combined data.
Test Data:
tudent_data1
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
New Row(s)
student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object
4. Write a Pandas program to append a list of dictioneries or series to a existing DataFrame and display the combined data.
Test Data:
 student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
Dictionary:
student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object
5. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.
Test Data:
student_data1:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
student_data2:
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
exam_data:
   student_id  exam_id
0          S1       23
1          S2       45
2          S3       12
3          S4       67
4          S5       21
5          S7       55
6          S8       33
7          S9       14
8         S10       56
9         S11       83
10        S12       88
11        S13       12
6. Write a Pandas program to join the two dataframes using the common column of both dataframes.
Test Data:
student_data1:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
student_data2:
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
7. Write a Pandas program to join the two dataframes with matching records from both sides where available.
Test Data:
student_data1:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
student_data2:
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
8. Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.
Test Data:
data1:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
data2:
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3
9. Write a Pandas program to join two dataframes using keys from right dataframe only.
Test Data:
data1:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
data2:
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3
10. Write a Pandas program to merge two given datasets using multiple join keys.
Test Data:
data1:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
data2:
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3
11. Write a Pandas program to create a new DataFrame based on existing series, using specified argument and override the existing columns names.
12. Write a Pandas program to create a combination from two dataframes where a column id combination appears more than once in both dataframes.
Test Data:
data1:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
data2:
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3
13. Write a Pandas program to combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame.
Test Data:
data1:
     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
data2:
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3
14. Write a Pandas program to merge two given dataframes with different columns.
Test Data:
data1:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
data2:
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3
15. Write a Pandas program to Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.
Test Data:
Original DataFrames:
     A  B
0  NaN  3
1  0.0  4
2  NaN  5
  A    B
0  1  3.0
1  1  NaN
2  3  3.0

In [1]:
import pandas as pd

1. Write a Pandas program to join the two given dataframes along rows and assign all data.
Test Data:
student_data1:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
student_data2:
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [2]:
import pandas 

data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

data2 = {
    'student_id': ['S6', 'S7', 'S8', 'S9', 'S10'],
    'name': ['John Doe', 'Jane Smith', 'Alice Johnson', 'Bob Brown', 'Emily Davis'],
    'marks': [205, 198, 215, 190, 205]
}

dataFrame1=pd.DataFrame(data1)
dataFrame2=pd.DataFrame(data2)

dataFrameJoined=pd.concat([dataFrame1, dataFrame2], ignore_index=True);
print(dataFrameJoined)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6          John Doe    205
6         S7        Jane Smith    198
7         S8     Alice Johnson    215
8         S9         Bob Brown    190
9        S10       Emily Davis    205

 Write a Pandas program to join the two given dataframes along columns and assign all data.
Test Data:
student_data1:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
student_data2:
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [3]:
dataFrameJoined=pd.merge(dataFrame1, dataFrame2, on="student_id", how="outer")

print(dataFrameJoined)

  student_id            name_x  marks_x         name_y  marks_y
0         S1  Danniella Fenton    200.0            NaN      NaN
1        S10               NaN      NaN    Emily Davis    205.0
2         S2      Ryder Storey    210.0            NaN      NaN
3         S3      Bryce Jensen    190.0            NaN      NaN
4         S4         Ed Bernal    222.0            NaN      NaN
5         S5       Kwame Morin    199.0            NaN      NaN
6         S6               NaN      NaN       John Doe    205.0
7         S7               NaN      NaN     Jane Smith    198.0
8         S8               NaN      NaN  Alice Johnson    215.0
9         S9               NaN      NaN      Bob Brown    190.0

Write a Pandas program to append rows to an existing DataFrame and display the combined data.
Test Data:
tudent_data1
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
New Row(s)
student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

In [4]:
new_row = pd.DataFrame({'student_id': ['S6'], 'name': ['Scarlette Fisher'], 'marks': [205]})

newDataFrame1=pd.concat([dataFrame1, new_row], ignore_index=True)
print(newDataFrame1)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

Write a Pandas program to append a list of dictioneries or series to a existing DataFrame and display the combined data.
Test Data:
 student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
Dictionary:
student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

In [5]:
new_row = pd.DataFrame({'student_id': ['S6'], 'name': ['Scarlette Fisher'], 'marks': [205]})

newDataFrame1=pd.concat([dataFrame1, new_row], ignore_index=True)
print(newDataFrame1)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.
Test Data:
student_data1:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
student_data2:
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
exam_data:
   student_id  exam_id
0          S1       23
1          S2       45
2          S3       12
3          S4       67
4          S5       21
5          S7       55
6          S8       33
7          S9       14
8         S10       56
9         S11       83
10        S12       88
11        S13       12

In [6]:
combinedFrame=pd.concat([dataFrame1, dataFrame2], ignore_index=True)
examData={
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
    'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]
}

examDf = pd.DataFrame(examData)

print(pd.merge(combinedFrame, examDf, on='student_id', how='outer'))

   student_id              name  marks  exam_id
0          S1  Danniella Fenton  200.0     23.0
1         S10       Emily Davis  205.0     56.0
2         S11               NaN    NaN     83.0
3         S12               NaN    NaN     88.0
4         S13               NaN    NaN     12.0
5          S2      Ryder Storey  210.0     45.0
6          S3      Bryce Jensen  190.0     12.0
7          S4         Ed Bernal  222.0     67.0
8          S5       Kwame Morin  199.0     21.0
9          S6          John Doe  205.0      NaN
10         S7        Jane Smith  198.0     55.0
11         S8     Alice Johnson  215.0     33.0
12         S9         Bob Brown  190.0     14.0

Write a Pandas program to join the two dataframes with matching records from both sides where available.
Test Data:
student_data1:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
student_data2:
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [7]:
outerJoin=pd.merge(dataFrame1, dataFrame2, on="student_id", how="outer")
print(outerJoin)

  student_id            name_x  marks_x         name_y  marks_y
0         S1  Danniella Fenton    200.0            NaN      NaN
1        S10               NaN      NaN    Emily Davis    205.0
2         S2      Ryder Storey    210.0            NaN      NaN
3         S3      Bryce Jensen    190.0            NaN      NaN
4         S4         Ed Bernal    222.0            NaN      NaN
5         S5       Kwame Morin    199.0            NaN      NaN
6         S6               NaN      NaN       John Doe    205.0
7         S7               NaN      NaN     Jane Smith    198.0
8         S8               NaN      NaN  Alice Johnson    215.0
9         S9               NaN      NaN      Bob Brown    190.0

Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.
Test Data:
data1:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
data2:
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3

In [15]:

data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}


data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}


df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

dfJoined=pd.merge(df1, df2, on='key1', how='left')
print(dfJoined)

  key1 key2_x   P   Q key2_y   R   S
0   K0     K0  P0  Q0     K0  R0  S0
1   K0     K1  P1  Q1     K0  R0  S0
2   K1     K0  P2  Q2     K0  R1  S1
3   K1     K0  P2  Q2     K0  R2  S2
4   K2     K1  P3  Q3     K0  R3  S3

Write a Pandas program to join two dataframes using keys from right dataframe only.
Test Data:
data1:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
data2:
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3

In [16]:
dfJoined=pd.merge(df1, df2, on='key2', how='right')
print(dfJoined)

  key1_x key2   P   Q key1_y   R   S
0     K0   K0  P0  Q0     K0  R0  S0
1     K1   K0  P2  Q2     K0  R0  S0
2     K0   K0  P0  Q0     K1  R1  S1
3     K1   K0  P2  Q2     K1  R1  S1
4     K0   K0  P0  Q0     K1  R2  S2
5     K1   K0  P2  Q2     K1  R2  S2
6     K0   K0  P0  Q0     K2  R3  S3
7     K1   K0  P2  Q2     K2  R3  S3

Write a Pandas program to merge two given datasets using multiple join keys. Test Data: data1: key1 key2 P Q 0 K0 K0 P0 Q0 1 K0 K1 P1 Q1 2 K1 K0 P2 Q2 3 K2 K1 P3 Q3 data2: key1 key2 R S 0 K0 K0 R0 S0 1 K1 K0 R1 S1 2 K1 K0 R2 S2 3 K2 K0 R3 S3

In [14]:
merged_data = pd.merge(df1, df2, on=['key1', 'key2'])

print(merged_data)

KeyError: 'key1'

11. Write a Pandas program to create a new DataFrame based on existing series, using specified argument and override the existing columns names.

In [11]:
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series(['A', 'B', 'C', 'D', 'E'])


new_column_names = ['Numbers', 'Letters']


new_df = pd.DataFrame({new_column_names[0]: series1, new_column_names[1]: series2})

print(new_df)

   Numbers Letters
0        1       A
1        2       B
2        3       C
3        4       D
4        5       E

12. Write a Pandas program to create a combination from two dataframes where a column id combination appears more than once in both dataframes.
Test Data:
data1:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
data2:
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3

In [ ]:
merged_data = pd.merge(df1, df2, on=['key1', 'key2'])

print(merged_data)

13. Write a Pandas program to combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame.
Test Data:
data1:
     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
data2:
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [12]:
d1 = {
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}
d2 = {
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
}


df1 = pd.DataFrame(d1, index=['K0', 'K1', 'K2'])
df2 = pd.DataFrame(d2, index=['K0', 'K2', 'K3'])


result = pd.concat([df1, df2], axis=1)


print(result)

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

14. Write a Pandas program to merge two given dataframes with different columns.
Test Data:
data1:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
data2:
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3

In [17]:
merged_data = pd.merge(df1, df2, on=['key1', 'key2'])

print(merged_data)

  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

15. Write a Pandas program to Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.
Test Data:
Original DataFrames:
     A  B
0  NaN  3
1  0.0  4
2  NaN  5
  A    B
0  1  3.0
1  1  NaN
2  3  3.0

In [18]:
import numpy as np


d1 = {
    'A': [np.nan, 0.0, np.nan],
    'B': [3, 4, 5]
}
d2 = {
    'A': [1, 1, 3],
    'B': [3.0, np.nan, 3.0]
}


df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)


combined_df = df1.combine_first(df2)


print(combined_df)

     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0